@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  font-size: 1rem;
  background-color:  #c68c53a8;
  font-family: 'Architects Daughter', cursive;
}

header{
  background: linear-gradient(black, transparent);
}

button{
  padding: 8px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 5px;
  background: whitesmoke;
  border: 1px solid lightgray;
}

button:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

.container{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav{
  display: flex;
  width: 100%;
  margin: auto;
  color: white;
  padding: 15px 0;
  justify-content: space-between;
  background-color: transparent;
}

.nav button{
  outline: none;
}

.createBox{
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -137.5px;
  z-index: 1;
  font-size: 1.5rem;
  width: 275px;
  height: 275px;
  outline: none;
}

.createBox textarea{
  width: 275px;
  height: 275px;
  padding: 25px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

.notes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.note{
  width:250px;
  height:250px;
  padding:25px;
  transition: 2s;
  cursor: pointer;
  overflow-wrap: break-word;
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
}

.note h1{
  font-size: 1.5rem;
}

@media(max-width:768px){
  .nav{
    justify-content: center;
    text-align: center;
  }
}

@media(max-width:480px){
  .createBox{
    width: 100%;
  }

}




